attrs==19.3.0
colorzero==1.1
gpiozero==1.5.1
importlib-metadata==1.5.0
more-itertools==8.2.0
packaging==20.1
pip==20.0.2
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.5
setuptools==45.1.0
six==1.14.0
wcwidth==0.1.8
wheel==0.34.2
zipp==2.1.0
