gpiozero==1.5.1
requests==2.22.0
flask==1.1.1
python-dotenv==0.11.0
pytz>=2017.2
six>=1.5
python-dateutil>=2.6.1
numpy>=1.13.3
pandas>=1.0.1
pvlib==0.7.1
smbus2==0.3.0
Flask-Cors==3.0.9
SQLAlchemy>=0.8.0
tzlocal>=2.0.0
RPi.GPIO>=0.7.0
Flask-SQLAlchemy>=2.4.1
# Install bme280 package from git since no PyPi packages exist
# for python versions > 3.6
git+https://github.com/rm-hull/bme280
